<div id="event-main-truck-info" class="widget-obscure hidden hide-to-right <%= truck.type %>">
    <div class="close-button">×</div>
    <div id="events-truck-info">
        <section class="left">
            <h1>Статус</h1>
            <div class="well" style="height: 80px;">
                <p class="time"><%= truck.time %></p>
                <p class="gosnumber"><%= truck.number %></p>
                <p class="truck-status"><%= truck.status %></p>
            </div>
        </section>

        <section class="right">
            <h1>Фото с дорожной камеры</h1>
            <div class="well photo" style="height: 220px;">
                <% _.each(truck.images, function(image) { %>
                    <img class="truck-photo" src="<%= image %>">
                <% }); %>
            </div>
        </section>

        <section class="left">
            <h1>Местоположение</h1>
            <div class="well">
                <dl>
                    <dt>Местонахождение</dt>
                    <dd>40-й км трассы А105<br>(55°48’36   37°26’33)</dd>
                    <dt>Рамка</dt>
                    <dd>№ 347860222</dd>
                </dl>
            </div>
        </section>

        <section>
            <h1>Карточка ТС</h1>
            <div class="well">
                <dl>
                    <dt><%= titles["RU"]["COUNT_TC"] %></dt>
                    <dd><%= truck["params"]["COUNT_TC"] %></dd>
                    <dt><%= titles["RU"]["MASS_TC"] %></dt>
                    <dd><%= truck["params"]["MASS_TC"] %></dd>
                    <dt><%= titles["RU"]["ECO_CLASS"] %></dt>
                    <dd><%= truck["params"]["ECO_CLASS"] %></dd>
                    <dt><%= titles["RU"]["SYSP_TYPE"] %></dt>
                    <dd><%= truck["params"]["SYSP_TYPE"] %></dd>
                    <dt><%= titles["RU"]["LEVEL_INPACT"] %></dt>
                    <dd><%= truck["params"]["LEVEL_INPACT"] %></dd>
                    <dt><%= titles["RU"]["NUMBER_TC"] %></dt>
                    <dd><%= truck["params"]["NUMBER_TC"] %></dd>
                    <dt><%= titles["RU"]["NAME_UR"] %></dt>
                    <dd><%= truck["params"]["NAME_UR"] %></dd>
                    <dt><%= titles["RU"]["UNPAID_BILL"] %></dt>
                    <dd><%= truck["params"]["UNPAID_BILL"] %></dd>
                    <dt><%= titles["RU"]["ROUTE"] %></dt>
                    <dd><%= truck["params"]["ROUTE"] %></dd>
                    <dt><%= titles["RU"]["FEE"] %></dt>
                    <dd><%= truck["params"]["FEE"] %></dd>
                    <dt><%= titles["RU"]["PLAYMENT_STATUS"] %></dt>
                    <dd><%= truck["params"]["PLAYMENT_STATUS"] %></dd>
                    <dt><%= titles["RU"]["INDEFIER_BY"] %></dt>
                    <dd><%= truck["params"]["INDEFIER_BY"] %></dd>
                </dl>
            </div>
        </section>
    </div>
</div>