#content #sceneinfo-content
{
    position:absolute;
    background:url(/static/images/formats/table.png) center center no-repeat;
    height:830px;
    width:1130px;
    left:650px;
    top:155px;
    z-index:200;
    overflow: hidden;
    color: #DDFFFF;
    font-family: NeoSansPro-Light;
    font-size: 14pt;
}

#sceneinfo-content.hidden
{
    top:1200px!important;
}

#sceneinfo-content, #sceneinfo-panel, .sceneinfo-extras, #sceneinfo-content section
{
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}

#sceneinfo-panel {
    height: 640px;
    margin: 50px 40px 20px 40px;
    overflow: hidden;
}

#sceneinfo-panel.hidden {
    margin-top: 1000px;
}

#scene-info-main {
    margin-left: 420px;
    font-family: 'EuropeExt',sans-serif;
}

#sceneinfo-content section {
    position: absolute;
    box-sizing: border-box;
    width: 630px;
    max-width: 630px;
}

#sceneinfo-content section.hidden-left {
    margin-left: -1200px;
}

#sceneinfo-content section.hidden-right {
    margin-left: 1200px;
}

#sceneinfo-content small, #sceneinfo-content dt {
    color: #BBDDFF;
    font-size: 90%;
}

#sceneinfo-content small {
    font-size: 80%;
    margin-right: 1em;
}

#sceneinfo-content h1 { font-size: 180%; margin-bottom: 0.1em; margin-top: 1em;}
#sceneinfo-content h2 { font-size: 150%; margin-bottom: 0.25em;}
#sceneinfo-content h3 { font-size: 120%; margin-bottom: 0.75em; margin-top: 1em;}
#sceneinfo-content h4 { font-size: 110%; }
#sceneinfo-content dl { overflow: hidden; margin-bottom: 0.5em;}
#sceneinfo-content dt { float: left; width: 200px; }
#sceneinfo-content dd { margin-left: 201px; }

#sceneinfo-content menu {
    overflow: hidden;
    margin: 20px;
    height: 50px;
}

#sceneinfo-content menu li {
    float: left;
    display: block;
    list-style-type: none;
    width: 33%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'EuropeExt';
    box-sizing: border-box;
}

#sceneinfo-content menu li.current {
    padding-top: 0;
}

#sceneinfo-content menu a {
    display: block;
    border-bottom: 3px solid darkcyan;
    font-size: 12pt;
    line-height: 16pt;
    padding: 5px;
    margin: 5px 15px;
    transition: all 0.2s ease-in-out;
}

#sceneinfo-content menu a:link, #sceneinfo-content menu a:visited {
    color: #BBDDFF;
    text-decoration: none;
}

#sceneinfo-content menu a:hover, #sceneinfo-content menu a:focus, #sceneinfo-content menu li.current a {
    color: #DDFFFF;
    margin-top: 0;
}

#sceneinfo-selector li a {
    border-top: 5px solid darkcyan;
    border-bottom: none;
    font-size: 16pt;
    line-height: 30pt;
    margin: 5px 25px;
}

#scene-info-photos {
    float: left;
    width: 400px;
    text-align: center;
    font-family: 'EuropeExt',sans-serif;
}

#scene-info-photos h1 { text-align: left; margin: 1em 0 0 45px; }
#scene-info-photos h2 { text-align: left; font-size: 12pt; margin: 1em 0 0.25em 45px; color: #BBDDFF; text-transform: uppercase;}

#scene-info-forces {
    text-align: center;
}

#scene-info-forces table
{
    width: 100%;
    border:1px solid rgba(180,218,255,0.33);
    border-collapse:separate;
    overflow:auto;
    table-layout:fixed;
}

#scene-info-forces th { color: #BBDDFF; }
#scene-info-forces th, table#scene-info-forces td {
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

#scene-info-forces td
{
    border:1px solid rgba(180,218,255,0.33);
    height:18px;
    font-family: NeoSansPro-Light;
    font-size:16px;
    color:#DDFFFF;
}

#scene-info-forces col.forces-icon { width: 42px; }

#scene-info-forces tr:nth-child(2n)
{
    background:rgba(128,191,255,0.1);
}

#scene-info-forces input[type=checkbox] {
    width: 24px;
    height: 24px;
}

#scene-info-forces button {
    font-size: 110%;
    margin: 2em auto;
    padding: 1em 2em;
    border: 1px solid #BBDDFF;
    border-radius: 1px;
    background: rgba(128,191,255,0.1);
    color: #BBDDFF;
}

#content .sceneinfo-extras {
    position:absolute;
    /* TODO: Make and change background */
    background:url('/static/images/scene/scene-info-extra.png') center center no-repeat;
    height:225px;
    width:308px;
    left:325px;
    z-index:200;
}

#content .sceneinfo-extras.hidden {
    left:-350px !important;
}

.sceneinfo-extra-panel {
    height: 195px;
    margin: 15px;
}

#content #sceneinfo-extra-1 {
    top: 175px;
}
#content #sceneinfo-extra-2 {
    top: 425px;
}
#content #sceneinfo-extra-3 {
    top: 675px;
}

#events-alarm {
    position:absolute;
    left:720px;
    top:400px;
    z-index:200;
    overflow: hidden;
    color: #DDFFFF;
    font-family: EuropeExt;
}

#events-alarm-msg {
    float: left;
    background:url(/static/images/scene/alarm-msg.png) center center no-repeat;
    height:129px;
    width:377px;
    text-align: center;
}

#events-alarm-msg h2 {
  margin: 30px 0 10px;
  font-size: 29px;
}

#events-alarm-msg a {
  text-decoration: none;
  color: #71b6e0;
  font-size: 18px;
}

#events-alarm-msg a:hover {
  color: #fff;
}

#events-alarm-icon {
    float: left;
    background:url(/static/images/scene/alarm-icon.png) center center no-repeat;
    height:129px;
    width:120px;
}

#events-alarm.hidden /*, #events-alarm.hidden #events-alarm-msg, #events-alarm.hidden #events-alarm-icon*/
{
    top:1200px!important;
}

/*#events-alarm.hidden #events-alarm-msg, #events-alarm.hidden #events-alarm-icon {
  height: 0;
}*/

#events-alarm, #events-alarm #events-alarm-msg, #events-alarm #events-alarm-icon
{
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
