#content #sceneinfo-content
{
    position:absolute;
    background:url(/static/images/formats/table.png) center center no-repeat;
    height:830px;
    width:1130px;
    left:50%;
    top:155px;
    margin-left: -565px;
    z-index:200;
    overflow: hidden;
    color: #DDFFFF;
    font-family: 'EuropeExt',sans-serif;
    font-size: 14pt;
}

#content #sceneinfo-content #sceneinfo-content-obscure {
  position: absolute;
  left: 0;
  top: 0;
  height: 690px;
  width: 100%;
  overflow: hidden;
}


#sceneinfo-content.hidden
{
    top: 1200px !important;
}

#sceneinfo-content, .sceneinfo-extras, .sceneinfo-extras-mgmt
{
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    transition: all 0.5s ease-out;
}

.sceneinfo-extras .left-outer-text {
  font-family: EuropeExt;
  color: #61a9d6;
  position: absolute;
  left: -160px;
  font-size: 11px;
  text-align: left;
  top: 15px;
  width: 150px;
  line-height: 120%;
}

#sceneinfo-extra-5 img {
  display: block;
  width: 249px;
  height: 178px;
  margin: 24px auto;
}

#sceneinfo-extra-6 img {
  display: block;
  width: 261px;
  height: 195px;
  margin: 15px auto;
}

#sceneinfo-extra-8 img {
  position: absolute;
  top: 25px;
  left: 30px;
}

#sceneinfo-extra-9 img {
  position: absolute;
  top: 2px;
  left: 0;
}

#sceneinfo-extra-10 img {
  display: block;
  width: 260px;
  height: 180px;
  margin: 21px auto;
}

#sceneinfo-diagram img {
  position: absolute;
  width: 908px;
  height: 554px;
  top: 50%;
  margin-top: -277px;
  left: 50%;
  margin-left: -454px;
}

#sceneinfo-content section
{
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    transition: all 0.3s ease-out;
}

.sceneinfo-panel {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    width: 1130px;
    height: 670px;
    margin: 90px auto;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.sceneinfo-panel.hidden {
    top: 690px;
    opacity: 0;
    z-index: 0;
}

.sceneinfo-panel.hidden.hide-to-left {
    top: 0;
    left: -1200px;
}

.sceneinfo-panel.hidden.hide-to-right {
    top: 0;
    left: 1200px;
}

#scene-info-main {
    margin-left: 390px;
}

#sceneinfo-content section {
    position: absolute;
    box-sizing: border-box;
    width: 630px;
    max-width: 630px;
}

#sceneinfo-content section.hidden-left {
/*  margin-left: -1200px;*/
  margin-left: -630px;
  opacity: 0;
}

#sceneinfo-content section.hidden-right {
/*  margin-left: 1200px;*/
  margin-left: 630px;
  opacity: 0;
}

#sceneinfo-content small, #sceneinfo-content dt {
    color: #BBDDFF;
    font-size: 90%;
}

#sceneinfo-content small {
    font-size: 80%;
    margin-right: 1em;
}

#sceneinfo-content h1 { font-size: 180%; margin-bottom: 30px; margin-top: 1em;}
#sceneinfo-content h2 { font-size: 150%; margin-bottom: 40px;}
#sceneinfo-content h3 { font-size: 120%; margin-bottom: 0.75em; margin-top: 50px;}
#sceneinfo-content h4 { font-size: 110%; }
#sceneinfo-content dl { overflow: hidden; margin-bottom: 0.5em;}
#sceneinfo-content dt { float: left; width: 200px; }
#sceneinfo-content dd { margin-left: 220px; }

#sceneinfo-content menu {
    overflow: hidden;
    margin: 20px;
    height: 50px;
}

#sceneinfo-content menu li {
    float: left;
    display: block;
    list-style-type: none;
    width: 33%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'EuropeExt';
    box-sizing: border-box;
}

#sceneinfo-content menu#scene-info-selector li {
    width: 50%;
  }


#sceneinfo-content menu li.current {
    padding-top: 0;
}

#sceneinfo-content menu a {
    display: block;
/*    border-bottom: 3px solid darkcyan;*/
    font-size: 12pt;
    line-height: 16pt;
    padding: 5px;
    margin: 5px 15px;
    transition: all 0.2s ease-in-out;
    background: url('/static/images/scene/sceneinfo-selector-li-bg.png') no-repeat 0 0;
    padding-left: 70px;
    padding-top: 20px;
    opacity: 0.5;
}

#sceneinfo-content menu a:link, #sceneinfo-content menu a:visited {
    color: #BBDDFF;
    text-decoration: none;
}

#sceneinfo-content menu a:hover, #sceneinfo-content menu a:focus, #sceneinfo-content menu li.current a {
    color: #fff;
    margin-top: -5px;
    opacity: 1;
}

#sceneinfo-selector {
  position: absolute;
  width: 1100px;
  bottom: 50px;
  left: 20px;
}

#sceneinfo-selector li a {
/*    border-top: 5px solid darkcyan;*/
/*    border-bottom: none;*/
    font-size: 13pt;
    line-height: 30pt;
    margin: 5px 25px;
    background: url('/static/images/scene/sceneinfo-selector-li-bg.png') no-repeat 0 0;
    opacity: 0.5;
    padding-left: 30px;
    padding-top: 10px;
}

#scene-info-photos {
    float: left;
    width: 360px;
    text-align: center;
    font-family: 'EuropeExt',sans-serif;
}

#scene-info-photos h1 { text-align: left; margin: 0 0 40px 20px; }
#scene-info-photos h2 { text-align: left; font-size: 12pt; margin: 1em 0 0.25em 45px; color: #BBDDFF; text-transform: uppercase;}

#scene-info-forces {
  padding-top: 35px;
    text-align: center;
}

#scene-info-forces table
{
    width: 100%;
    border:1px solid rgba(180,218,255,0.33);
    border-collapse:separate;
    overflow:auto;
    table-layout:fixed;
}

#scene-info-forces th { color: #BBDDFF; }
#scene-info-forces th, table#scene-info-forces td {
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

#scene-info-forces td
{
    border:1px solid rgba(180,218,255,0.33);
    height:18px;
    font-family: NeoSansPro-Light;
    font-size:16px;
    color:#DDFFFF;
}

#scene-info-forces col.forces-icon { width: 42px; }

#scene-info-forces tr:nth-child(2n)
{
    background:rgba(128,191,255,0.1);
}

#scene-info-forces input[type=checkbox] {
    width: 24px;
    height: 24px;
}

#scene-info-forces button {
    font-size: 110%;
    margin: 2em auto;
    padding: 1em 2em;
    border: 1px solid #BBDDFF;
    border-radius: 1px;
    background: rgba(128,191,255,0.1);
    color: #BBDDFF;
}

#content .sceneinfo-extras {
    position:absolute;
    /* TODO: Make and change background */
    background:url('/static/images/scene/scene-info-extra.png') center center no-repeat;
    height:225px;
    width:308px;
    z-index:200;
    overflow: hidden;
    cursor: pointer;
}

#content .sceneinfo-extras.left {
  left: 50px;
}

#content .sceneinfo-extras.left.hidden {
    left:-350px !important;
}

#content .sceneinfo-extras.right {
  right: 50px;
}

#content .sceneinfo-extras.right.hidden {
  right:-350px !important;
}

.sceneinfo-extra-panel {
    height: 195px;
    overflow: hidden;
    margin: 15px;
    text-align: center;
}

#content .sceneinfo-extras.top {
    top: 210px;
}
#content .sceneinfo-extras.middle {
    top: 460px;
}
#content .sceneinfo-extras.bottom {
    top: 710px;
}

#content .sceneinfo-extras.hidden.hide-to-top {
    top: -250px !important;
}

#content .sceneinfo-extras.hidden.hide-to-bottom {
    top: 1100px !important;
}

#content .sceneinfo-extras-mgmt {
    position:absolute;
    /* TODO: Make and change background */
    background:url('/static/images/scene/widget-arrows.png') center top no-repeat;
    width:308px;
    overflow: hidden;
    cursor: pointer;
    height:      26px;
    z-index:    201;
}

#content .sceneinfo-extras-mgmt.top    { top:  168px; content: '▲'; }
#content .sceneinfo-extras-mgmt.bottom { top:  960px; background-position: center bottom; content: '▼'; }
#content .sceneinfo-extras-mgmt.left   { left:  50px; }
#content .sceneinfo-extras-mgmt.right  { right: 50px; }
#content .sceneinfo-extras-mgmt.left.hidden   { left:  -350px !important; }
#content .sceneinfo-extras-mgmt.right.hidden  { right: -350px !important; }

#events-alarm {
    position:absolute;
    left:910px;
    top:400px;
    z-index:200;
    overflow: hidden;
    color: #DDFFFF;
    font-family: EuropeExt;
}

#events-alarm-msg {
    float: left;
    background:url(/static/images/scene/alarm-msg.png) center center no-repeat;
    height:129px;
    width:377px;
    text-align: center;
}

#events-alarm-msg h2 {
  margin: 30px 0 10px;
  font-size: 29px;
}

#events-alarm-msg a {
  text-decoration: none;
  color: #71b6e0;
  font-size: 18px;
}

#events-alarm-msg a:hover {
  color: #fff;
}

#events-alarm-icon {
    float: left;
    background:url(/static/images/scene/alarm-icon.png) center center no-repeat;
    height:129px;
    width:120px;
}

#events-alarm.hidden /*, #events-alarm.hidden #events-alarm-msg, #events-alarm.hidden #events-alarm-icon*/
{
    top:1200px!important;
}

/*#events-alarm.hidden #events-alarm-msg, #events-alarm.hidden #events-alarm-icon {
  height: 0;
}*/

#events-alarm, #events-alarm #events-alarm-msg, #events-alarm #events-alarm-icon
{
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}

#section-obscure {
  position: absolute;
  overflow: hidden;
  width: 630px;
  height: 430px;
}

#sampleMovie {
  display: none;
}

#scene-info-map-container {
    background: rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    padding: 10px;
    width: 931px;
    height: 593px;
}

#scene-info-video h2, #scene-info-video h3 {
  text-align: center;
  transition:all 0.5s ease-in;
}

#scene-info-video h3 {
  margin-top: -25px;
}

#scene-info-video-container {
    position: absolute;
    top: 50%;
    margin-top: -240px;
    left: 50%;
    margin-left: -320px;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 640px;
    height: 480px;
}

.scene-map {
    background: url('/static/images/scene/blue-map.jpg') top left no-repeat;
    width: 931px;
    height: 593px;
    position: relative;
    overflow: hidden;
}

.scene-map .placemark {
    position: absolute;
    border: 4px solid black;
    min-height: 24px;
    border-radius: 15px;
    border-top-left-radius: 0;
    padding: 3px 3px 3px 27px;
    background: url('') 3px 3px no-repeat, rgba(255, 255, 255, 0.75);
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
    font-size: 12px;
    color: black;
    line-height: 24px;
    background-size: 24px;
}

.scene-map .placemark.police {
    border-color: blue;
}

.scene-map .placemark.police.patrolcar {
    background-image: url('/static/images/scene/icon-patrolcar.png');
}

.scene-map .placemark.police.patrol {
    background-image: url('/static/images/scene/icon-patrol.png');
}

.scene-map .placemark.criminal {
    border-color: red;
    background-image: url('/static/images/scene/icon-criminal.png');
}

#scene-patrol-menu {
    position: absolute;
    width: 12em;
    background: #18426A;
    border: 2px solid #33749F;
    border-radius: 4px;
    padding-bottom: 10px;
    z-index: 202;
    text-align: center;
}

#scene-patrol-menu input[type="submit"] {
    margin: 1em auto;
    padding: 1em 2em;
    border: 1px solid #BBDDFF;
    border-radius: 1px;
    background: rgba(128,191,255,0.1);
    color: #BBDDFF;
}

#sceneinfo-extra-3 .sceneinfo-extra-panel {
    overflow: hidden;
}

#scene-minimap-fader {
    width: 278px;
    height: 195px;
    position: absolute;
    z-index: 1;
    box-shadow: inset 0 0 100px 5px #001633;
}

#sceneinfo-graph img {
  display: block;
  width: 880px;
  margin: 20px auto;  
}

#scene-load
{
  opacity:0;
  display:none;
  width:100%;
  height:100%;
  position:absolute;
  left:50%;
  margin-left:-545px;
  z-index:500;
  -moz-transition:all .5s linear;
  -o-transition:all .5s linear;
  -webkit-transition:all .5s linear;
  transition:all .5s linear;
}

#scene-load img
{
  display:block;
  left:50%;
  top:50%;
  width:154px;
  height:153px;
  position:absolute;
  margin:-90px 0 0 -78px;
}

#scene-load.onShow img
{
  -webkit-animation:rotating 4s linear infinite;
  -moz-animation:rotating 4s linear infinite;
  -ms-animation:rotating 4s linear infinite;
}

.sceneinfo-container, .sceneinfo-text-container {
  width: 1000px;
  margin: 0 auto;
}

#sceneinfo-text {
  font-size: 0.8em;
}

.sceneinfo-extras .sceneinfo-text-container {
  width: 265px;
  height: 180px;
  margin-top: 10px;
  font-size: 0.6em;
  font-family: EuropeExt;
  opacity: 0.8;
}

.sceneinfo-text-container p {
  margin-bottom: 10px;
}

.sceneinfo-text-container h3 {
  margin-top: 30px;
}

.sceneinfo-text-container h3 i {
  color: #04ccea;
}

.sceneinfo-text-container h3 span {
  color: #008ce8;
}

#sceneinfo-extra-4 .sceneinfo-text-container {
  color: #fff;
  text-align: left;
}

#sceneinfo-extra-4 .sceneinfo-text-container h3 {
  margin-top: 10px;
}

#sceneinfo-phone .waveform-obscure {
   position: absolute;
   height: 400px;
   width: 1000px;
   overflow: hidden;
}
#sceneinfo-extra-7 .waveform-obscure {
   position: absolute;
   height: 198px;
   width: 282px;
   overflow: hidden;
}

#sceneinfo-phone .waveform {
   position: absolute;
   background: url('/static/images/scene/waveform-3.png') repeat 0 0;
   height: 400px;
   width: 62830px;
   left: 0;
}

#sceneinfo-extra-7 .waveform {
   position: absolute;
   background: url('/static/images/scene/waveform-4.png') repeat 0 0;
   height: 198px;
   width: 62830px;
   left: 0;
}

#sceneinfo-phone .waveform.waveform-playback,  #sceneinfo-extra-7 .waveform.waveform-playback {
   transition: all 2700s linear;
   left: -62548px;
}

#sceneinfo-properties img {
  display: block;
  width: 900px;
  margin: 30px auto;
}

.text-right {
  text-align: right;
}

#sceneinfo-content h2.text-right, #sceneinfo-content h3.text-right {
  color: #00f4ff;
  margin-bottom: 10px;
  margin-top: 0;
}

#sceneinfo-content h2.text-right {
  text-transform: uppercase;
}

#sceneinfo-content h3.period {
  margin-top: 25px;
  color: #69c1f5;
}


#sceneinfo-content h3.period span {
  color: #fff;
}

.point {
  font-size: 0.9em;
  position: relative;
  margin: 20px 0;
  min-height: 120px;
}

.point b {
  display: block;
  float: left;
  width: 100px;
  font-weight: normal;
  color: #0779bd;
}

.point p span {
  display: block;
  margin-left: 100px;
  overflow: hidden;
}

.point p {
  margin-bottom: 5px;
}

.point .point-text {
  width: 700px;
  margin-left: 200px;
}

.point .point-photo {
  position: absolute;
  top:-10px;
  left: 0;
  height: 110px;
  width: 150px;
  overflow: hidden;
  padding: 5px;
  border: 1px solid #077fc2;
  border-radius: 4px;
  box-shadow: 3px 3px 10px #043558;
  background: #075286;
  text-align: center;
}
.point .point-photo img {
  height: 110px;
  /*padding: 5px;
  border: 1px solid #077fc2;
  border-radius: 4px;
  box-shadow: 3px 3px 10px #043558;
  background: #075286;*/
}

#sceneinfo-email #email-left {
  float: left;
  width: 550px;
}

#sceneinfo-email #email-right {
  position: relative;
  margin-left: 580px;
}

#sceneinfo-email #email-right .point {
  font-size: 1em;
}

#sceneinfo-email h2{
  margin-bottom: 10px;
  color: #00f4ff;
  text-transform: uppercase;
}
#sceneinfo-email h3{
  margin-bottom: 10px;
  color: #00f4ff;
  margin-top:0;
}
#sceneinfo-email h4{
  color: #00f4ff;
  margin-bottom: 30px;
}

#sceneinfo-email table {
  width:100%;
  margin: 0 0 30px 0;
  border-collapse: collapse;
  text-align: left;
  font-family: Arial;
  font-size: 0.9em;
}

#sceneinfo-email table tbody tr {
    -moz-transition:all 0.1s ease-in;
    -o-transition:all 0.1s ease-in;
    -webkit-transition:all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

#sceneinfo-email table tbody tr:nth-child(odd) {
  background: #195e8e;
}


#sceneinfo-email table tbody tr:hover, #sceneinfo-email table tbody tr.active {
  background: #588aad;
}

#sceneinfo-email table tr td {
  padding: 5px;
  cursor: pointer;
}

#sceneinfo-email table tr th {
  font-family: 'EuropeExt';
  color: #0877b8;
  padding: 10px;
}

#sceneinfo-email table tr td.address {
  color: #0877b8;
}

#sceneinfo-email #email-left h3 {
  margin: 0 0 5px 0;
  color: #0877b8;
}

.email {
    position: absolute;
    left: 0;
    top:0;
    opacity: 90%;
    -moz-transition:all 0.5s ease-in;
    -o-transition:all 0.5s ease-in;
    -webkit-transition:all 0.5s ease-in;
    transition: all 0.5s ease-in;

}

.email.hidden {
  opacity: 0;
}

.email-wrap {
  padding: 20px;
  margin-top: 15px;
  border: 1px solid #077fc2;
  border-radius: 4px;
  box-shadow: 3px 3px 10px #043558;
  background: #075286;
  font-family: Arial;
  font-size: 0.9em;
}

.email-wrap .point {
  margin: 0;
}

.email-wrap .email-body {
  margin-top: 20px;
}

#sceneinfo-phone .waveform-obscure {
  width: 1000px;
  margin-top: 35px;
}

#sceneinfo-phone .date {
  color: #0877b8;
}
