<div class="camr">
	<h3>Видеоизображение</h3>
	<img  class="close" src="/static/images/mt/close.png">
	<embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org" version="VideoLAN.VLCPlugin.2"  width="540px"  height="300px" id="vlc" loop="yes" autoplay="yes" allowfullscreen="false" controls="false" toolbar="false" windowless="true" target="<%= camera.path %>"></embed>
	<!--
	<video class="ramp-frame" src="/static/images/scene/tula01.mp4" preload="" autoplay="" height="300" width="650" loop="true"></video>
	-->
	<h4>Камера</h4>
	<div class="descamr">
		<i>Номер:
			<p class="num">№ <%= camera.number %></p>
		</i>
		<i>Местонахождение
			<p class="position position-name"><%= camera.adress %> ( <%= camera.positionСoords %> )</p>
		</i>
	</div>
</div>