<div id="reports-list" class="widget hidden">
    <h2>Отчеты</h2>
    <select class="year" id="age2_select"></select>
    <div class="menu">
   	<div class="ramp-entry sidebar-entry" data-index="<%= item.id %>"> 
		<p class="num" data-index="3">Отчет о состоянии автомобильных дорог на территории Еврейской автономной области в 2013 году</p>
	</div>
	<div class="ramp-entry sidebar-entry"> 
		<p class="num"  data-index="4">Проект создания автодорожного мостового перехода через р. Лену в районе г. Якутска</p>
	</div> 
	<div class="ramp-entry sidebar-entry"> 
		<p class="num"  data-index="5">Дорожное хозяйство субъектов РФ</p>
	</div> 
	
</div>
