<div id="requisition" class="widget">
	<input type="hidden" id="req_id" value="<%= requisition.id %>" />
	<span class="close" id="reports-close"></span>
    <div class="sub">
    	<div class="in">
			<div class="text">
				<h2>Обращение</h2>
				<table>
					<tr>
						<td>Статус:</td>
						<td><span id="stat"><%= requisition.status %></span></td>
					</tr>
					<tr>
						<td>Тип:</td>
						<td><%= requisition.type_ru %></td>
					</tr>
					<tr>
						<td>Дата:</td>
						<% 
							var formatDateStr = moment(requisition.creation_time).format('DD.MM.YYYY'); 
						%>
						<td><%= formatDateStr %></td>
					</tr>
					<tr>
						<td>Местонахождение:</td>
						<td><%= requisition.address %><br />( <%= requisition.lat %>, <%= requisition.lon %>)</td>
					</tr>
					<tr>
						<td>Комментарий:</td>
						<td><%= requisition.comment %></td>
					</tr>
					<% if(requisition.status_id == 1) { %>
					<tr>
						<td>Исполнитель:</td>
						<td>
							<select class="executor">
								<option value="-1">Выберите исполнителя</option>
								<option value="1">ОАО "ДРСУ"</option>
								<option value="2">ООО "Нокс"</option>
								<option value="3">ООО "СтройРегионСервис"</option>
								<option value="4">ООО "Трансюжстрой"</option>
								<option value="5">ФГУ ДСД «Центр»</option>
								<option value="6">ФКУ «Центравтомагистраль»</option>
							</select>
							<button id="assign" disabled="disabled">Назначить</button>
							<div class="warning1"><span id="text1"></span></div>
						</td>
					</tr>
					<% } else { %>
						<tr>
							<td>Исполнитель:</td>
							<td>
								ОАО "ДРСУ"
							</td>
						</tr>
					<% } %>
				</table>
			</div>
			<div class="images">
				<h2>Фото до:</h2>
				<div class="images">
					<div class="left"><img src="/static/images/fl.png" /></div>
					<% var len = $.map(images, function(n, i) { return i; }).length; %>
					<% console.log(len); %>
					<% if(len > 0) { %>
						<% var kk = 0; %>
						<% _.each(images, function(p, k) { %>
							<% kk += 1; %>
							<img src="<%= p %>" alt="" <% if(kk == 1) { %> class="current"<% } %> />
						<% }) %>
					<% } %>
					<% if(len == 0) { %>
						<img src="/static/images/photos/2_before_1.png" class="current" alt="" /> 
						<img src="/static/images/photos/2_before_2.png" alt="" />
						<img src="/static/images/photos/2_before_3.png" alt="" />
						<img src="/static/images/photos/2_before_4.png" alt="" />
					<% } %>
					<div class="right"><img src="/static/images/fr.png" /></div>
				</div>
			</div>
		</div>
		<div class="history">
			<div class="left">
				<h2>Журнал</h2>
				<table>
					<% _.each(history, function(h) { %>
						<tr>
							<td>
								<% 
								var formatDateStr = moment(h.change_dt).format('DD.MM.YYYY'); 
								%>
								<%= formatDateStr %>
							</td>
							<td><%= h.name %></td>
							<td><%= h.comment %></td>
						</tr>
					<% }) %>
				</table>
			</div>
			<div class="images">
				<h2>Фото после:</h2>
			</div>
		</div>
	</div>
</div>

